/*Página B. Leverkusen*/
*{
	border-radius: 2px;
}

table {
	width:100%;
	font-family: sce;
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}
table, th, td {
	border: 1px solid rgb(195, 195, 195);
	border-collapse: collapse;
}
th, td {
	padding: 15px;
	text-align: center;
}

.POS{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.linhas:hover {
	color: red;
	background-color: black;
}

.coluna:hover{
	color: red;
	background-color: black;
}

tr {
	background-color: white;
	color: black;
}

th {
	background-color: black;
	color: red;
}

header{
	margin-top: 1%;
	background-image:url(../Assets/Fundo/fundotop.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	height:300px;
}

h1{
	margin-bottom: 1%;
	font-family: sce;
	color: red;
	font-size: 40px;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.8);
}

.leverkusen-escudo{
	margin-left: 2%;
	margin-top: 2%;
	width: 150px;
	float: left;
	position: relative;
}

body{
	background-image:url(../Assets/Fundo/fundo.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 87%;
	margin: auto;
	color: red;
	font-family: Consolas;
}

nav{
	text-align: center;
	background-color: rgb(0, 0, 0, 0.9);
	margin-top: 5px;
	margin-bottom: 5px; 
	height: 40px;
	padding-top: 20px;
}

.leverkusen-menu{
	padding: 1%;
	margin: 1%;
	text-decoration: none;
	color: red;
	font-weight: bold;
	background-color: white;
	box-shadow:0px 5px 10px gray;
	font-family: helvetica;
}

.leverkusen-menu:hover{
	background-color: black;
}

section{
	background-color: rgb(0, 0, 0, 0.9);
	height: 100%;
	display: flex;
}

.KDA{
	float: right;
	color: red;
	margin-top: 35px;
	margin-right: 5px;
	width: 60%;
	border: 2px solid red;
	position: relative;
}

.qntdMoedas{
	font-weight: bold;
	font-size: 15px;
	background-color: black;
	color: red;
	padding: 10px;
	margin-right: 5px;
	width: 25%;
	float: right;
	border: 2px solid red;
}

h2{
	font-weight: bold;
	background-color: black;
	color: red;
	padding: 20px;
	margin-top: 20px;
	width: 260px;
	margin-left: 80px;
	border: 3px solid red;
}

.squad{
	width: 90%;
	padding: 3px;
	border: 3px solid red;	
}

.destaque{
	font-weight: bold;
	font-size: 15px;
	background-color: black;
	width: 40%;
	color: rgb(239, 1, 7, 0.9);
	padding: 10px;
	border: 3px solid red;
}
.destaque-img{
	font-weight: bold;
	font-size: 15px;
	width: 90%;
	color: rgb(239, 1, 7, 0.9);
	padding: 3px;
	border: 3px solid red;
}


footer{
	background-color: rgb(0, 0, 0, 0.9);
	margin-top: 8px;
	height: 20px;
	color: red;
	font-weight: bold;
	text-align: center;
}