/*Página Real_Madrid*/

table {
  width:100%;
  font-family: sce;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: center;
}

.a{
	text-align: start;
}

.ATA{
	text-align: center;
	color: rgb(183, 0, 0);
	font-weight: bold;
}

.MEI{
	text-align: center;
	color: rgb(0, 128, 0);
	font-weight: bold;
}

.DEF{
	text-align: center;
	color: rgb(35, 43, 133);
	font-weight: bold;
}

.GK{
	text-align: center;
	color: rgb(128, 128, 0);
	font-weight: bold;
}

tr:hover td {
  color: white;
  background-color: black;
}


table#real_madrid-table tr {
  background-color: white;
  color: black;
}

table#real_madrid-table th {
  background-color: gray;
  color: black;
}

header{
	margin-top: 1%;
	background-image:url(../Assets/Fundo/fundotop.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	height:300px;
}

h1{
	margin-bottom: 1%;
	font-family: sce;
	color: black;
	font-size: 40px;
	width: 100%;
	background-color: white;
}

.real_madrid-escudo{
	height: 198px;
	width: 17%;

}

body{
	background-image:url(../Assets/Fundo/fundo.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 87%;
	margin: auto;
	color: white;
	font-family: Consolas;
}

nav{
	text-align: center;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px; 
	height: 40px;
	padding-top: 20px;
}

.real_madrid-menu{
	padding: 1%;
	margin: 1%;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: white;
	box-shadow:0px 5px 10px gray;
	font-family: helvetica;
}

.real_madrid-menu:hover{
	background-color: rgb(20, 85, 229);
	color: white;
}

section{
	background-color: white;
	height: 100%;
	display: flex;
}

.KDA{
  float: right;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  color: rgb(210, 18, 46, 0.9);
  margin-top: -70px;
  margin-right: 45px;
  width: 620px;
  border: 2px solid black;
}

.lateral{
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 10px;
  margin-right: 50px;
  width: 220px;
  float: right;
  border: 2px solid black;
}

h2{
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 20px;
  width: 260px;
  margin-left: 80px;
}

h3{
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 15px;
  margin-top: 15px;
  width: 260px;
  margin-left: 80px;
}

.squad{
	width: 80%;
}

.destaque, .squad{
	border: 3px solid black;
	margin-left: 80px;
}

footer{
	background-color: white;
	margin-top: 8px;
	height: 20px;
	color: black;
	font-weight: bold;
	text-align: center;
}