/*Página Flamengo*/
*{
	border-radius: 5px;
}
@font-face {
	font-family: sce;
	src: url(../Assets/font/sce.ttf);
}
table {
  width:100%;
  font-family: sce;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
th, td {
  padding: 15px;
  text-align: center;
}

.POS{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.linhas:hover {
	color: rgb(175,0,0);
	background-color: rgb(20,20,20);
}

.coluna:hover{
	color: rgb(175,0,0);
	background-color: rgb(20,20,20);
}

tr {
  background-color: rgb(175,0,0);
  color: rgb(20,20,20);
}

th {
  background-color: rgb(20,20,20);
  color: rgb(175,0,0);
}

header{
	margin-top: 1%;
	background-image:url(../Assets/Fundo/fundoFlamengo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	height:300px;
}

h1{
	margin-bottom: 1%;
	font-family: sce;
	color: rgb(20,20,20);
	font-size: 40px;
	width: 100%;
	background-color: rgb(175,0,0);
}

.flamengo-escudo{
	margin-left: 2%;
	margin-top: 2%;
	width: 150px;
	float: left;
	position: relative;
}

body{
	background-image:url(../Assets/Fundo/fundo.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 87%;
	margin: auto;
	color: rgb(175,0,0);
	font-family: Consolas;
}

nav{
	text-align: center;
	background-color: rgb(175,0,0);
	margin-top: 5px;
	margin-bottom: 5px; 
	height: 40px;
	padding-top: 20px;
}

.flamengo-menu{
	padding: 1%;
	margin: 1%;
	text-decoration: none;
	color: rgb(175,0,0);
	font-weight: bold;
	background-color: rgb(20,20,20);
	box-shadow:0px 5px 10px gray;
	font-family: sce;
}

.flamengo-menu:hover{
	background-color: rgb(175,0,0);
	color: rgb(20,20,20);
}

section{
	background-color: rgb(175,0,0);
	height: 100%;
	display: flex;
}

.KDA{
  float: right;
  color: rgb(20,20,20);
  margin-top: 15px;
  margin-right: 5px;
  width: 60%;
  position: relative;
}

.qntdMoedas{
	font-weight: bold;
	font-size: 15px;
	background-color: rgb(20,20,20);
	color: rgb(175,0,0);
	padding: 10px;
	margin-right: 5px;
	width: 25%;
	float: right;
}

h2{
  font-weight: bold;
  background-color: rgb(20,20,20);
  color: rgb(175,0,0);
  padding: 20px;
  margin-top: 20px;
  width: 260px;
  margin-left: 80px;
}

.squad{
	width: 90%;
	padding: 3px;
}

.destaque{
	font-weight: bold;
	font-size: 15px;
	width: 40%;
	color: rgb(175,0,0);
	background-color: rgb(20,20,20);
	padding: 10px;
}
.destaque-img{
	font-weight: bold;
	font-size: 15px;
	width: 90%;
	padding: 3px;
	background-color: rgb(20,20,20);
}

footer{
	background-color: rgb(175,0,0);
	margin-top: 8px;
	height: 20px;
	color: rgb(20,20,20);
	font-weight: bold;
	text-align: center;
}