/*Página Real_Madrid*/
*{
	border-radius: 2px;
}


table {
  width:100%;
  font-family: sce;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: center;
}

.POS{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.linhas:hover {
	color: white;
	background-color: black;
}

.coluna:hover{
	color: white;
	background-color: black;
}

tr {
  background-color: white;
  color: black;
}

th {
  background-color: black;
  color: white;
}

header{
	margin-top: 1%;
	background-image:url(../Assets/Fundo/fundotop.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	height:300px;
}

h1{
	margin-bottom: 1%;
	font-family: sce;
	color: black;
	font-size: 40px;
	width: 100%;
	background-color: white;
}

.real_madrid-escudo{
	margin-left: 2%;
	margin-top: 2%;
	width: 150px;
	float: left;
	position: relative;
}

body{
	background-image:url(../Assets/Fundo/fundo.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 87%;
	margin: auto;
	color: white;
	font-family: Consolas;
}

nav{
	text-align: center;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px; 
	height: 40px;
	padding-top: 20px;
}

.real_madrid-menu{
	padding: 1%;
	margin: 1%;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: white;
	box-shadow:0px 5px 10px gray;
	font-family: helvetica;
}

.real_madrid-menu:hover{
	background-color: black;
	color: white;
}

section{
	background-color: white;
	height: 100%;
	display: flex;
}

.KDA{
  float: right;
  color: black;
  margin-top: 35px;
  margin-right: 5px;
  width: 60%;
  border: 2px solid black;
  position: relative;
}

.qntdMoedas{
	font-weight: bold;
	font-size: 15px;
	background-color: white;
	color: black;
	padding: 10px;
	margin-right: 5px;
	width: 25%;
	float: right;
	border: 2px solid black;
}

h2{
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 20px;
  margin-top: 20px;
  width: 260px;
  margin-left: 80px;
  border: 3px solid black;
}

.squad{
	width: 90%;
	padding: 3px;
	border: 3px solid black;
}

.destaque{
	border: 3px solid black;
	font-weight: bold;
	font-size: 15px;
	width: 40%;
	color: black;
	padding: 10px;
}
.destaque-img{
	border: 3px solid black;
	font-weight: bold;
	font-size: 15px;
	width: 90%;
	padding: 3px;
	background-color: white;
}

footer{
	background-color: white;
	margin-top: 8px;
	height: 20px;
	color: black;
	font-weight: bold;
	text-align: center;
}